* {
  font-family: 'Droid Sans', sans-serif;
  color: white;

}

body {
  background-image: url("restint.jpg");
  background-attachment: fixed;

}

header {
  font-size: 32px;
  text-align: center;

}

header:hover {
  text-shadow: 4px 4px 8px #083dcb;
}
